<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-form-field>
    <input matInput (dateInput)="fechaSelected($event.value)" [matDatepicker]="picker" placeholder="Seleccione un dia">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let topic of topics" [value]="topic.value">
        {{ topic.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button (click)="getData()" [disabled]="!dateSelected">Buscar!</button>
  <app-line-chart *ngIf="isData" [(data)]="graphData"></app-line-chart>
  <h3 *ngIf="!isData"> No hay informacion disponible </h3>
</div>
<div class="container">
  <app-card-info *ngFor="let a of topics" [(topic)]="a.value"></app-card-info>
</div>
