.grid-container {
  margin: 20px;
}

.mat-grid-list {
  margin: 20px;
}

.head-container {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  margin: 0 10px;
}

.card-detalle-title {
  font-size: 15px;
}

.card-detalle-content {
  font-size: 15px;
}
