<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  Seleccione un dia <input matInput (dateInput)="fechaSelected($event)"[matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
      <mat-card *ngFor="let medicion of mediciones">
        <mat-card-header>
          <mat-card-title>
            {{ medicion._id }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item>Tipo: {{medicion.tipo}}</mat-list-item>
            <mat-list-item>Valor: {{medicion.value}}</mat-list-item>
            <mat-list-item>Topic: {{medicion.topic}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
</div>
