.grid-container {
  margin: 20px;
}

.mat-grid-list {
  margin: 20px;
}

.head-container {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  margin: 0 10px;
}

.detalle{
  width: 100%;
  padding: 10px;
}

.detalle-titulo{
  font-size: 14px;
  margin-bottom: 5px;
}

.detalle-list-item {
  font-size: 14px;
  height: 25px;
}

.container-cards{
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: hidden auto;
  height: 100%;
}