<div class="grid-container">
  <div class="head-container">
    <h1 class="mat-h1">Dashboard</h1>
    <button class="updateButton" mat-stroked-button (click)="updateCards()"><mat-icon>refresh</mat-icon></button>
  </div>
  <div class="container">
    <app-card-info *ngFor="let a of topics" [(topic)]="a.value" [refresh]="refreshCards.asObservable()"></app-card-info>
  </div>
  <div class="container">
    <mat-form-field>
      <input matInput (dateInput)="fechaSelected($event.value)" [matDatepicker]="picker" placeholder="Seleccione un dia">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let topic of topics" [value]="topic.value">
          {{ topic.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="getData()" [disabled]="!dateSelected"><mat-icon>search</mat-icon></button>
  </div>

  <div>
    <div style="width: 100%; height: 50vh;" *ngIf="loading">
      <mat-spinner style="margin:10% auto;" ></mat-spinner>
    </div>
    <app-line-chart *ngIf="isData && !loading" [(data)]="graphData"></app-line-chart>
  </div>


  <h3 *ngIf="!isData"> No hay informacion disponible </h3>
</div>
