.card-info {
}

.mat-card-title{
  font-size: 18px;
}

.mat-list-item {
  font-size: 40px;
}

.mat-icon {
  margin: 0 10px;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.detalle.mat-list-item {
  height: 12px;
  font-size: 10px;
  float: right;
}
