<div class="box">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
    
        <form class="example-form" #form (submit)="onSubmit(form)">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
                    <mat-error>Nombre es requerido!</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email" required email>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <input matInput placeholder="Password" minlength="6" [(ngModel)]="usuario.password" name="password" type="password" required>
                </mat-form-field>
    
            </mat-card-content>
            <button mat-stroked-button class="btn-block">Registrar</button>
        </form>
    </mat-card>
</div>
    