<div class="box">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Inicio sesion</mat-card-title>
        </mat-card-header>
    
        <form class="example-form" #form (submit)="onSubmit(form)">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email" required email>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <input matInput placeholder="Password" minlength="6" [(ngModel)]="usuario.password" name="password" type="password" required>
                </mat-form-field>
    
                <mat-checkbox [(ngModel)]="recordarme" name="recordar" labelPosition="before">Recordarme</mat-checkbox>
            </mat-card-content>
            <button mat-stroked-button type="submit" class="btn-block">Iniciar sesion</button>
            <a mat-stroked-button class="btn-block" [routerLink]="['','auth','register']">Registrarse</a>
        </form>
    </mat-card>

</div>
