<mat-card>
    <mat-card-title>{{ device.name }} - {{ device.productModel }}</mat-card-title>
    <mat-card-content>
        <div *ngIf="device.uiid==2">
          <ul>
            <li *ngFor="let switch of device.params.switches; let i = index">Canal {{i+1}} : {{ switch.switch | uppercase }}</li>
          </ul>
        </div>
        <div *ngIf="device.uiid!=2">
          <ul>
            <li >Estado: {{ device.params.switch | uppercase }}</li>
          </ul>
        </div>
        <div *ngIf="device.uiid==32">
          <ul>
            <li>Voltaje: {{device.params.voltage}} V</li>
            <li>Power: {{device.params.power}} W</li>
            <li>Corriente: {{device.params.current}} A</li>
          </ul>
        </div>
        <button mat-stroked-button *ngIf="device.uiid===14 || device.uiid===32" (click)="toogleDevice(device.deviceid)" >TOGGLE</button>
        <div *ngIf="device.uiid===2">
            <button mat-stroked-button (click)="toogleDevice(device.deviceid,'1')">TOOGLE 1</button>
            <button mat-stroked-button (click)="toogleDevice(device.deviceid,'2')">TOGGLE 2</button>
        </div>
    </mat-card-content>
  </mat-card>