<mat-card>
    <mat-card-title>{{ device.name }} - {{ device.productModel }}</mat-card-title>
    <mat-card-content>
        <div style="width: 100%;" >
            <mat-spinner diameter="20" style="margin:0 auto;" *ngIf="loading"></mat-spinner>
        </div>
        <div *ngIf="device.uiid==2">
          <mat-list>
            <mat-list-item *ngFor="let switch of device.params.switches; let i = index">Canal {{i+1}} : {{ switch.switch | uppercase }}</mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="device.uiid!=2">
          <mat-list>
            <mat-list-item >Estado: {{ status| uppercase }}</mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="device.uiid==32">
          <mat-list>
            <mat-list-item>Voltaje: {{device.params.voltage}} V</mat-list-item>
            <mat-list-item>Power: {{device.params.power}} W</mat-list-item>
            <mat-list-item>Corriente: {{device.params.current}} A</mat-list-item>
          </mat-list>
        </div>
        <button mat-stroked-button *ngIf="device.uiid===14 || device.uiid===32" [disabled]="loading" (click)="toogleDevice(device.deviceid)" >TOGGLE</button>
        <div *ngIf="device.uiid===2">
            <button mat-stroked-button [disabled]="loading" (click)="toogleDevice(device.deviceid,'1')">TOOGLE 1</button>
            <button mat-stroked-button [disabled]="loading" (click)="toogleDevice(device.deviceid,'2')">TOGGLE 2</button>
        </div>
    </mat-card-content>
  </mat-card>