<div>
  <mat-card>
    <mat-card-header>
        <mat-card-title>{{ boton }} usuario</mat-card-title>
    </mat-card-header>

    <form class="example-form" #form (submit)="onSubmit(form)">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Usuario" [(ngModel)]="usuario.username" name="username" required >
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email" required email>
          </mat-form-field>
          <div>
            <mat-checkbox class="checks" [(ngModel)]="usuario.role.admin" name="isAdmin">Admin</mat-checkbox>
            <mat-checkbox class="checks" [(ngModel)]="usuario.role.view" name="isView">View</mat-checkbox>
            <mat-checkbox class="checks" [(ngModel)]="usuario.role.control" name="isControl">Control</mat-checkbox>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button mat-stroked-button type="submit" class="button blue">{{ boton }}</button>
        </mat-card-footer>
    </form>
  </mat-card>
</div>
