<div class="box">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Cambio de contraseña</mat-card-title>
      </mat-card-header>

      <form class="example-form" #form (submit)="onSubmit(form)">
          <mat-card-content>
              <mat-form-field class="full-width">
                  <input matInput placeholder="Password" minlength="6" [(ngModel)]="password" name="password" type="password" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Password" minlength="6" [(ngModel)]="confirmPassword" name="password" type="password" required>
            </mat-form-field>

          </mat-card-content>
          <button mat-stroked-button class="btn-block">Cambiar password</button>
      </form>
  </mat-card>
</div>
