<div class="user-container">
  <div class="head-container">
    <h3>Control de usuarios</h3>
    <button mat-stroked-button (click)="addUsuario()">Agregar Usuario</button>
  </div>
  <div class="container">
    <table mat-table [dataSource]="dataSource" class="tabla-usuarios">
      <!-- Position Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user._id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user">
          Admin: <mat-icon *ngIf="user.role.admin">check_box</mat-icon><mat-icon *ngIf="!user.role.admin">check_box_outline_blank</mat-icon>
          View: <mat-icon *ngIf="user.role.view">check_box</mat-icon><mat-icon *ngIf="!user.role.view">check_box_outline_blank</mat-icon>
          Control: <mat-icon *ngIf="user.role.control">check_box</mat-icon><mat-icon *ngIf="!user.role.control">check_box_outline_blank</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Activo</th>
        <td mat-cell *matCellDef="let user">
          <mat-icon *ngIf="user.active">check_box</mat-icon><mat-icon *ngIf="!user.active">check_box_outline_blank</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones</th>
        <td mat-cell *matCellDef="let user">
          <button mat-stroked-button (click)="editUser(user)">Editar</button>
          <button mat-stroked-button *ngIf="user.active" (click)="deleteUser(user)">Eliminar</button>
          <button mat-stroked-button *ngIf="!user.active" (click)="activateUser(user)">Activar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="tabla-usuarios" [length]="totalUsers" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
