.mat-card {
  margin: 8px;
}

.mat-card-title {
  font-size: 18px;
}

.mat-card-content{
  height: 100%;
}

.mat-icon {
  height: 80px;
  width: 80px;;
  font-size: 80px;
}
.boton-on {
  color: rgba(63, 81, 181, 1);  
}
.boton-switch {
  cursor: pointer;
  width: 200px; 
  background: white;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 3px gray;
  border: 2px solid rgba(63, 81, 181, 1);
  outline: none !important;
  
}

*:focus {
  outline: 0 !important;
}

.boton-switch:focus .boton-switch:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color:transparent;
  border: none !important;
}


.container-switch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}